
<h1>Blog Projesinin Admin Kısmına Hoşgeldiniz</h1>
<a asp-area="Admin" asp-action="Index" asp-controller="Home">TIKLA</a>

<br />
<br />
<br />
<br />
<br />


@*DataTable Deneme*@
@*<div class=" card p-3 table-responsive">
    <table class="table table-bordered" width="100%" cellspacing="0" id="myTable">
        <thead>
            <tr>
                <th>#</th>
                <th>#</th>
                <th>#</th>
                <th>#</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
            </tr>
        </tbody>
    </table>
</div>


@section script{
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>*@
}
@*DataTable Deneme*@